extend layout

block content
	h2.page-title
		| <span class="block"></span>Dashboard<span class="block"></span>

	div.project-list

		a(href="#")
			div
				h3.project-title
					| Browserswarm
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Pivotal Tracker CFD
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Celebrity
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Browserswarm
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Pivotal Tracker CFD
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Celebrity
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Browserswarm
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Pivotal Tracker CFD
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>


		a(href="#")
			div
				h3.project-title
					| Celebrity
				img.project-chart(src="images/sample-chart.jpg")
				div.info-overlay

					div.today
						h4
							| Today
						div.label-value-group
							| <p class="label">Accepted:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Delivered:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Finished:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Started:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Unstarted:</p>
							| <p class="value">0</span>

					div.general
						h4
							| General
						div.label-value-group
							| <p class="label">Velocity:</p>
							| <p class="value">0</span>

						div.label-value-group
							| <p class="label">Target Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Estimated Date:</p>
							| <p class="value">00/00/2013</span>

						div.label-value-group
							| <p class="label">Story Count:</p>
							| <p class="value">0</span>
