!!!5
html
  head
    meta(charset="utf-8")
    title #{title} - PTFlow
    block styles
        link(href="/style/normalize.css", rel="stylesheet", type="text/css")
        link(href="/style/base.css", rel="stylesheet", type="text/css")
        link(href="/style/styles.css", rel="stylesheet", type="text/css")

  body(class="page_#{page}")

    header #{title}

    #wrapper
        div#messages
        block content

    footer
        p
            | The <a href="https://github.com/appendto/Pivotal-Tracker-CFD">Pivotal Tracker CFD library</a> is &copy; 2013 appendTo, under an <a href="https://github.com/appendto/Pivotal-Tracker-CFD/blob/master/LICENSE">MIT license</a>

    block scripts
        script(src="/script/lib.js")
        script(src="/script/client.js")
    block pageScript