extend layout

block content
    p.intro 
        | These are all of the projects you can access in this system:

    ul
        - each project in projects
            li 
                | <a href="/project/#{project.id}">#{project.name}</a> (<a href="https://www.pivotaltracker.com/s/projects/#{project.id}">View on PT</a>)
    