extend layout

block pageScript
    != "<script>"
    != "PTCFD.stats = " + stats + ";"
    != "</script>"

    script
        PTCFD.showChart({ node: "#chart" });
        

block content
    p.projectLink
        | <a href="https://www.pivotaltracker.com/s/projects/#{project.id}">View this project on Pivotal tracker</a>
    div#chart