extend layout

block content
    h2.page-title
        | <span class="block"></span>Projects<span class="block"></span>

    p.intro
        | Here are all of the projects that you currently have access to.

    ul.projects-list
        - each project in projects
            li
                | <a class="btn-large" href="/project/#{project.id}">#{project.name}</a><a class="btn-rounded" href="https://www.pivotaltracker.com/s/projects/#{project.id}">View in PT</a>
