extend layout

block pageScript
    != "<script>"
    != "PTCFD.stats = " + stats + ";"
    != "</script>"

    script
        PTCFD.showChart({ node: "#chart" });


block content
    p.projectLinks
        | <a class="btn-rounded left" href="/projects">All Projects</a>
        | <a class="btn-rounded" href="https://www.pivotaltracker.com/s/projects/#{project.id}">View in PT</a>

    div#chart