#chart { 
    width: 100%; 
    height: 500px;
    float: left;
    margin-top: 40px;
}

.loading { display: none; }

#messages {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    background-color: rgba(255,255,255,0.75);
    font-weight: bold;
}

.message { display: none; }
.info { color: #339; }
.success { color: #393; }
.error { color: #933; }

input[name=stats] { width: 30em; }

.tooltip {
    min-width: 10em;
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
}