// General
// ====================================================================
* { @include box-sizing(border-box); }

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	background: #ecf0f1;
	color: $body;
	font-family: 'PT Sans', sans-serif;
}

html {
	margin: 0;
	padding: 0;
}

a, a:hover, a:focus, a:active {
	outline: none;
}

a {
	color: $link;
	text-decoration: none;
	@include transition(color .3s ease);
	&:hover {
		color: $link-hover;
	}
}

h2 {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	color: $heading;
	font-size: em(18,16);
	line-height: em(18,16);
	@include breakpoint(med) {
		font-size: em(24,16);
	}
}

p.subtitle {
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	font-size: em(13,16);
	line-height: em(20,16);
	@include breakpoint(med) {
		font-size: em(16,16);
	}
}

.contain {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}


// Header
// ====================================================================
header {
	background: $primary;
	width: 100%;
	margin: 0;
	color: $white;
	overflow: hidden;
	.contain {
		padding: 0;
	}
	h1 {
		float: left;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 15px 0;
		font-weight: 700;
		font-size: em(20,16);
		line-height: em(18,16);
		@include breakpoint(med) { 
			text-align: left;
			width: auto;
			padding: 30px 15px;
			font-size: em(24,16);
		}
	}
	.credit {
		float: left;
		width: 100%;
		background: $primary-dark;
		padding: 5px 0;
		img {
			display: none;
		}
		@include breakpoint(med) {
			float: right;
			margin-right: 15px;
			width: auto;
			padding: 0 37px;
			height: 87px;
			img {
				display: block;
				margin-top: 27px;
			}
		}
	}
}


// Main Content
// ====================================================================
.page_contain {
	background: $white;
	width: 100%;
	margin: 0 auto;
	float: left;
	padding: 35px 0;
	@include breakpoint(med) {
		padding: 55px 0;
	}
	.img {
		float: left;
		width: 25%;
		height: auto;
		margin-right: 5%;
		@include breakpoint(med) {
			margin-bottom: 95px;
			width: auto;
		}
	}
	h2.intro_title {
		width: 70%;
		@include breakpoint(med) {
			width: auto;
			float: none;
		}
	}
	p.intro {
		float: right;
		width: 100%;
		margin: 25px 0;
		padding: 0;
		font-size: em(13,16);
		line-height: em(20,16);
		@include breakpoint(sml) {
			width: 70%;
		}
		@include breakpoint(med) {
			font-size: em(16,16);
			float: none;
			width: auto;
		}
	}
	form#login {
		float: left;
		width: 100%;
		input[type=text] {
			float: left;
			width: 80%;
			height: 45px;
			background: #ecf0f1;
			border: none;
			padding: 0 3%;
			font-size: em(16,16);
			font-weight: 700;
			@include border-left-radius(3px);
			color: $input;
			@include breakpoint(med) {
				height: 74px;
				font-size: em(28,16);
			}
		}
		input[type=submit] {
			float: right;
			width: 20%;
			height: 45px;
			border: none;
			background: $cta;
			color: $white;
			font-size: em(16,16);
			font-weight: 700;
			@include border-right-radius(3px);
			@include transition(background .3s ease);
			&:hover {
				background: $cta-hover;
			}
			@include breakpoint(med) {
				height: 74px;
				font-size: em(28,16);
			}
		}
		p.sub {
			float: left;
			font-size: em(13,16);
			color: #95a5a6;
			margin-left: 3%;
		}
	}
}

.page_login .page_contain {
	@include breakpoint(med) {
		padding: 95px 0;
	}
}

// Project List
// ====================================================================
ul.project_list {
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0 0 10px 0;
		padding: 0;
		float: left;
		width: 100%;
		background: $light;
		border: 1px solid $med_light;
		text-align: center;
		@include border-radius(3px);
		a {
			width: 100%;
			height: 100%;
			display: block;
			padding: 3% 0;
		}
	}
	@include breakpoint(sml) {
		li {
			width: 47.5%;
			margin: 0 0 30px 0;
			&:nth-child(2n+2) {
				float: right;
			}
			a {
				padding: 6% 0;
			}
		}
	}
	@include breakpoint(med) {
		li {
			width: calc(33% - 20px);
			&:nth-child(2n+2) {
				float: left;
			}
			&:nth-child(3n+2) {
				margin: 0 30px;
			}
		}
	}
}


// Footer
// ====================================================================
footer {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	overflow: hidden;
	@include breakpoint(med) {
		padding: 75px 0;
	}
	p {
		text-align: center;
		font-size: em(13,16);
		@include breakpoint(med) {
			font-size: em(15,16);
		}
	}
}