// Colors
$white: #fff;
$black: #000;
$body: #333;
$primary: #1c618b;
$primary-dark: #134b6c;
$heading: #2c3e50;
$link: #1c618b;
$link-hover: #082f45;
$cta: #27ae60;
$cta-hover: #40c97a;
$input: #556263;