// Colors
$white: #fff;
$black: #000;
$body: #333;
$light: #ecf0f1;
$med_light: #d9dbdc;
$primary: #1c618b;
$primary-dark: #134b6c;
$heading: #2c3e50;
$link: #1c618b;
$link-hover: #082f45;
$cta: #27ae60;
$cta-hover: #1a9b50;
$input: #556263;