extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/flot/jquery.flot.min.js")
    script(src="/script/lib/flot/jquery.flot.time.min.js")
    script(src="/script/lib/flot/jquery.flot.stack.min.js")
    script(src="/script/client.js")

block content
    p This is a diagram!