extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/jquery.cookie.js")
    script(src="/script/client.js")

block content
    p You will need to enter a valid Pivotal Tracker API token to use this module.
    form
        input 