extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/jquery.cookie.js")
    script(src="/script/client.js")

block pageScript
    script
        PTCFD.initLoginForm("#login");

block content
    img(src="/images/graph.jpg", class="img")
    h2
        | A cumulative flow diagram statistics gatherer (and charter) for users of Pivotal Tracker.
    p.intro 
        | Pivotal Tracker CFD is a small Node.js/Express/MongoDB app which gathers statistics from Pivotal Tracker using PT's activity web hook and provides a simple UI for viewing the resulting cumulative flow diagram. It includes basic authentication using PT API tokens. The intent is that while you can view the UI directly, you can easily include it as an iframe in any other reporting system that allows it.

    form#login(action="", method="POST")
        input#pivotalToken(type="text", placeholder="Pivotal Tracker API Token")
        input#doLogin(type="submit", value="Login")
        img(src="/images/ajax-loader.gif", alt="Working...", class="loading")
        p.sub
            Your API token can be found at the bottom of your Pivotal Tracker <a href="https://www.pivotaltracker.com/profile" target="_blank">profile page</a>.