extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/jquery.cookie.js")
    script(src="/script/client.js")

block pageScript
   script
        console.log(window);    

block content
    p.intro 
        | These are all of the projects you can access in this system:

    ul
        - each project in projects
            li 
                | <a href="/stats/#{project.id}">#{project.name}</a> (<a href="https://www.pivotaltracker.com/s/projects/#{project.id}">View on PT</a>)
    