extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/flot/jquery.flot.min.js")
    script(src="/script/lib/flot/jquery.flot.time.min.js")
    script(src="/script/lib/flot/jquery.flot.stack.min.js")
    script(src="/script/lib/flot/jquery.flot.crosshair.min.js")
    script(src="/script/client.js")

block pageScript
    != "<script>"
    != "PTCFD.stats = " + stats + ";"
    != "</script>"

    script
        PTCFD.showChart({ node: "#chart" });
        

block content
    h2 #{project.name}

    a.btn(href="https://www.pivotaltracker.com/s/projects/#{project.id}") 
        span View on Pivotal Tracker

    a.view_all(href="../projects") View all projects

    div#chart