extend layout

block scripts
    script(src="/script/lib/jquery-1.9.1.min.js")
    script(src="/script/lib/jquery.cookie.js")
    script(src="/script/client.js")

block content
    h2 Your projects

    p.subtitle These are all the projects you have access to in the system:

    ul.project_list
        - each project in projects
            li 
                | <a href="/project/#{project.id}">#{project.name}</a>
    